<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/undraw_Page_not_found_re_e9o6.png" alt="about page" class="img-fluid"
                                title="Piyush World">
                        </figure>
                    
                        <p>Welcome to PiyushWorld</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/"><button> Go Back </button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- footer -->

    {{>footer}}

</body>

</html>